#header-container {
    float: left;
    width: 100%;
    height: 8vh;
    position: sticky;
    top: 0;
    background-color: #000;
    z-index: 1000;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

.left {
    float:left;
    height: 100%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
}

.right {
    float: right;
    height: 100%;
    margin-right: 5%; 
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.header-title {
    font-size: 2em;
    font-family: Ubuntu Mono;
    font-weight: 400;
    word-wrap: break-word;
    width: 100%;
}
.logo-or-pic {
    height: 4em;
    width: 4em;
    border-radius: 50%;
    display: inline-block;
}

.logo-or-pic, .header-title {
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    color: white;
  }



.scrollButton {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding-left:5%;
    padding-right: 5%;
}

@media (max-width: 1200px) {
    .scrollButton {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        cursor: pointer;
        border: none;
        padding-left:5%;
        padding-right: 5%;
    }
    .header-title {
      font-size: 1.4em;
    }
    
}

#lastScroll {
    padding-right: 0;
}


.scrollButton:hover {
    background-color: rgba(37, 126, 132, 0.30);
}

.scrollButtonText {
    color: white;
    font-size: 1.8em;
    font-family: Ubuntu Mono;
    font-weight: 50;
    word-wrap: break-word;
}

.big-right {
    position: sticky;
    display: flex;
    float: right;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end; /* Align items to the end of the column */
    height: 100%; /* Adjust height as needed */
    margin-right: 5%; 
}

#nav-icon3{
    width: 6vh;
    height: 6vh;
    position: absolute;
    top: 1.8vh;
    right: 5%;
    /* margin: 1.8vh auto; */
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
#nav-icon3 span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #FFF;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

#nav-icon3 span:nth-child(1) {
    top: 0px;
  }
  
  #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 2vh;
  }
  
  #nav-icon3 span:nth-child(4) {
    top: 4vh;
  }
  
  #nav-icon3.open span:nth-child(1) {
    top: 5vh;
    width: 0%;
    left: 50%;
  }
  
  #nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  #nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }