@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.portfolio-container {
    position: relative;
    display: flex;
    padding-bottom: 5vh;
    flex-direction: column; /* Stack items vertically */
    background-color: #021F1B;
    height: 100%;
    width: 100%;
}

.portfolio-text-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vh 2vw;
    box-sizing: border-box;
}

.portfolio-text {
    color: #fff;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 15vw;
    text-shadow: 0px 20px 20px rgba(0, 0, 0, 0.5);
    line-height: 0.94;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    letter-spacing: -0.02em;
    display: inline-block;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
    .portfolio-text {
        font-size: 14vw;
    }
}

@media (max-width: 768px) {
    .portfolio-text {
        font-size: 13vw;
    }

    .portfolio-text-container {
        padding: 2vh 1vw;
    }
}

@media (max-width: 480px) {
    .portfolio-text {
        font-size: 12vw;
        line-height: 1;
    }
}


.section-name {
    color: white;
    font-size: 3.5em;
    text-align: center;
    font-family: "Ubuntu Mono", monospace;
}