#portfolio-section {
    height: 100%;
    width: 100%;
    position: relative;
}

#projects-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the rows horizontally */
    gap: 3vw;
    margin-bottom: 3vw;
}

.row {
    display: flex; /* Use flexbox for the row */
    justify-content: center; /* Center items horizontally within the row */
    gap: 3vw;
}
  