.container {
    display: flex;
    max-width: 430px;
    width:25vw;
    flex-direction: column;
    color: #fff;
    font-weight: 800;
    padding: 10px;
    /* border-radius: 15px; */
    box-sizing: border-box;
}

.offset {
    position: relative;
    border-width: 7px; 
    border-style: solid;
    /* border-radius: 15px; */
    overflow: hidden; 
}

.offset:hover {
    text-shadow: 5px 10px 4px #000;
    /* messes up the radius so i removed it */
    border-image: conic-gradient( 
      from var(--gradient-angle),
      var(--clr-3),
      var(--clr-4),
      var(--clr-5),
      var(--clr-4),
      var(--clr-3)
    ) 1;
    border-radius: 15px;
    animation: rotation 2s linear infinite;
}

@keyframes rotation {
    0% {
        --gradient-angle: 0deg;
    }
    100% {
        --gradient-angle: 360deg;
    }
}

:root {
    --clr-1: #052b2f;
    --clr-2: #073438;
    --clr-3: #0e4b50;
    --clr-4: #2d8f85;
    --clr-5: #637c54;
}

@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

  

.project-name {
    letter-spacing: -4px;
    font: 720 50px Open Sans, sans-serif;
    line-height: 1;
}
.tagline {
    letter-spacing: -2.45px;
    margin-top: 5px;
    font: 430 35px Ubuntu Mono, -apple-system, Roboto, Helvetica,
        sans-serif;
    line-height: 1;
}
.description {
    letter-spacing: -1.4px;
    margin-top: 14px;
    font: 700 20px Open Sans, sans-serif;
    line-height: 1.2;

}
.tags-container {
    display: flex;
    width: 100%;
    margin-top: 7px;
    gap: 10px;
    font-size: 20px;
    color: #021f1b;
    text-align: center;
    letter-spacing: -1.75px;
    justify-content: center;
}

.tag {
    font-family: Open Sans, sans-serif;
    border-radius: 20px;
    background-color: #7dd7cb;
    justify-content: center;
    padding: 11px 10px;
    text-shadow: none;
}

